@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size:cover;
    background-image: url('/jpg/bullet.jpg');
    background-repeat: no-repeat;
}
.logo{
    background: url('/jpg/train.png');
    display:inline-block;
    height: 80px;
   margin-bottom:-10px;
   margin-top:-10px;
}
.navbar {
    background-color: #140659;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
   
}

.navbar-brand {
    font-size: 1.7rem;
    font-weight: bold;
    
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
   font-weight: bold;
   margin-right: 20px;
   letter-spacing: 1px;
   text-decoration: none;
   padding-bottom: 2px;
   position: relative; /* Add this line */
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 4px;
  border-radius: 4px;
  bottom: -3px;
  left: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  background-color: #ffffff; /* Add color to the line */
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1); 
}
.nav-link:active {
   
    color:#ffffff;
   
}


.container {
    
    max-width: 50rem;
    margin: 40px auto;
    padding: 20px;
   
   background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    border-radius: 5px;
}

h2 {
    padding-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #140659;
    margin-top:-1rem;
}

a{
	text-decoration:none;
}

.form-group {
    margin-bottom: 20px;
   
}
#password{
	margin-bottom: 0px;
}
.forget-password{
	
	float:right;
	margin-right:1rem;
}
label {
    display: block;
    margin-bottom: 10px;

}
.text-danger
{
	color: red;
}
.alert-success{
	color:green;
	text-align:center;
	font-size:larger;
}

.form-control {
    width: 97%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn{
	color: #fff;
    padding: 7px 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	
}
.btn-primary{
    background-color:  #140659;
	
}
.btn-primary:hover{
	 background-color: #0c0336;
}
.btn-outline-success{
	color: black;
}
.table-container {
    display: flex;
    justify-content: center; /* Centers the table horizontally */
    width: 100%; /* Full width of the page */
    padding: 10px; /* Optional padding for spacing */
}


.table th{
	 text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
 .table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd; /* Optional: table border style */
    
}

button[type="submit"] {
    background-color:#140659;
    color: #fff;
    padding: 10px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(12,3,34);
}
.inlineimage {
	max-width: 470px;
	margin-right: 8px;
	margin-left: 10px
}
footer{
	background-color:#140659;
	color:#fff;
	text-align: center;
	padding:15px 15px;
	font-size:small;
	margin-top:auto;
}
.images {
	display: inline-block;
	max-width: 98%;
	height: auto;
	width: 22%;
	margin: 1%;
	left: 20px;
	text-align: center
}
.cancel-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #c82333;
}

